html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }

  .container {
      display:flex;
      width:40%;
  }
  
  .item {
    flex-grow: 1;
  }

  .is-active {
      font-weight: bold;
  }